.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  left: -10000px;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  opacity: 0;
  background-color: rgba(#000000, .5);
  transition: opacity 0.5s;
}

.modal_active {
  left: 0;
  opacity: 1;
}

.modal__box {
  position: relative;
  max-width: 400px;
  border-radius: 10px;
  padding: 60px 40px;
  background-color: #ffffff;
  color: #000000;
  text-align: center;

  & .talk__input-block {
    display: inline-block;
    padding: 0;

    & input {
      padding: 0 20px;
    }
  }

  @media (max-width: $mobile) {
    padding: 50px 20px;
  }
}

.modal__close {
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 60px;
  background-color: transparent;

  &::after, &::before {
    content: "";
    position: absolute;
    top: 30px;
    right: 0;
    width: 30px;
    height: 2px;
    background-color: rgba(#000, .6);
  }

  &::after {
    transform: translate(-50%, -50%) rotate(-45deg);
  }

  &::before {
    transform: translate(-50%, -50%) rotate(45deg);
  }
}

.modal__title {
  margin-bottom: 40px;
  font-size: 32px;
  text-align: center;
  @include fontNeue(700);
}