@font-face {
  font-family: "UniSans";
  src: url("../fonts/Uni-Sans-Heavy.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "UniSans";
  src: url("../fonts/unisansbold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "UniNeue";
  src: url("../fonts/UniNeueBold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "UniNeue";
  src: url("../fonts/UniNeueRegular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "UniNeue";
  src: url("../fonts/UniNeueLight.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "UniNeue";
  src: url("../fonts/UniNeueThin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "UniNeue";
  src: url("../fonts/UniNeueBook.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}