
//MEDIA
$desktop: 1145px;
$laptop: 900px;
$tablet: 768px;
$mobile: 480px;

//COLORS
$text: #FFFFFF;
$bg: #101113;

//FONTS
$fontNeue: "UniNeue", Arial, sans-serif;
$fontSans: "UniSans", Arial, sans-serif;
$fontArial: Arial, sans-serif;


